[Unit]
Description=3DPickO service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=on-abnormal
RestartSec=3
User=ubuntu
ExecStart=/usr/bin/env sh -c 'cd %install && sh start.sh'

[Install]
WantedBy=multi-user.target
