.add {
	cursor: copy;
}

.del
	{
	cursor: no-drop;
}

#clickArea {
	width: 900px;
	height: 600px;
	border: 2px white solid;
	overflow: hidden;
	background-color: #transparent;
	cursor: pointer;
}

#photograph {
	width: 900px;
	height: 600px;
	position: absolute;
	z-index:1;
}

#drawArea {
	width: 900px;
	height: 600px;
	position: absolute;
	z-index: 20;
}
