body {
	/*
	for fixed navbar
	padding-top: 100px;
	*/
}

.navbar{
	margin-bottom: 20px;
}

/* Close Button on top-right of Element */
.close{
	position: absolute;
	display: block;
	right: 5px;
}

/*Internet Explorer Card-Height Fix*/
.card-body{
	height: 100%;
}

.nav-pills .nav-link{
	color: black;
} 

.nav-pills .nav-link:hover{
	color: #888888;
} 

.nav-pills .nav-link.active{
	color: white;
	background-color: #212529;
}

.nav-pills .nav-link.disabled{
	color: #DDDDDD;
}

.dropzone{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#clickArea {
	width: 900px;
	height: 600px;
	border: 2px black solid;
	overflow: hidden;
	background-color: #transparent;
	cursor: pointer;
}
#photograph {
	width: 900px;
	height: 600px;
	position: absolute;
	z-index:1;
}
#drawArea {
	position: absolute;
	z-index: 20;
}

