label{
	display: inline;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 5px;
}
.nav{
	white-space: nowrap;
}
#nav-new-job h4{
	white-space: nowrap;
}
/* close button */
.close{
	position: absolute;
	display: block;
	font-size: xx-large;
	top: 0px;
	right: 0px;
}
#steps{
	pointer-events: none;
}
.nav-pills .nav-link{
	color: #888888;
	font-weight: bold;
}
.nav-pills .nav-link:hover{
	color: #888888;
}
.nav-pills .nav-link.active{
	color: white;
	/*background-color: #212529;*/
}
.nav-pills .nav-link.disabled{
	color: #11d100;
	background-color: transparent;
}
.card-header{
	padding-bottom: 0px;
	padding-top: 0px;
	word-break: break-all;
}
.card-body{
	height: 100%; /* Internet Explorer Card-Height Fix */
}
.image-card{
	display: inline-block;
	vertical-align:top;
	max-width: 200px;
	min-height: 200px;
}
.job-card{
	display: inline-block;
	vertical-align:top;
	max-width: 250px;
	min-height: 250px;
}
#alert-window{
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 15px;
	z-index: 10;
	pointer-events: none;
}
.alert{
	pointer-events: none;
}

/* Image-Upload-Tab */
#dropZone{
	position: relative;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
#dropZone.empty{
	height: 400px;
	background-color: #ddd;
	color: #666;
	border: 2px dashed #666;
	text-align: center;
	vertical-align: middle;
	line-height: 400px;
	font-size: 2em;
	font-weight: bold;
}
#dropZone:hover{
	color: black;
	border-color: black;
}
#dropZone.dragover{
	color: black;
	border-color: black;
}

#overlay{
	position: fixed;
	top: 0; 
	left: 0; 
	width: 100%;
	height: 100%; 
	background: rgba(0,0,0,0.5);
	text-align: center;
	z-index: 10;
	display: none;
}
.overlay-spinner{
	position: absolute;
	top: 20%;
	width: 5rem;
	height: 5rem;
}

/* Cut-Tab */
img {
	max-width: 100%; /* cropper: This rule is very important, please do not ignore this! */
}
.cropper_container {
	max-width: 640px;
	margin: 20px auto;
}
.cropper_container img {
	width: 100%;
}

/* Colony-Selection-Tab */
.add {
	cursor: copy;
}
.del{
	cursor: no-drop;
}
#detection-settings input[type=number]{
	width: 2ch;
	min-width: 5ch;
}
#detection-settings{
	position: relative;
}

/* Profile Settings Page */
/* remove number input spinner */
#nav-settings input[type=number]{
	padding: 0px;
	line-height: 1;
	text-align: right;
	width: 2ch;
	min-width: 2ch;
}
input[type=number]{
	-moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
#group h2{
	text-align: center;
}
#nav-settings .card{
	min-width: 300px;
}
#nav-settings .card-body{
	white-space: nowrap;
}
small{
	white-space: normal;
}
#nav-settings .card-header{
	text-align: center;
}
#nav-settings .badge{
	/*float: left;
	margin-top: 1em;*/
	position: absolute;
	top: 1em;
	left: 1em;
}

/* Multirange CSS */
input[type="range"].multirange {
	position: absolute;
	padding: 0;
	margin: 0;
	vertical-align: top;
}
input[type="range"].multirange.original::-webkit-slider-thumb {
	position: relative;
	z-index: 1;
}
input[type="range"].multirange.original::-moz-range-thumb {
	transform: scale(1); /* FF doesn't apply position it seems */
	z-index: 1;
}
input[type="range"].multirange::-moz-range-track {
	border-color: transparent; /* needed to switch FF to "styleable" control */
}
input[type="range"].multirange.ghost {
	position: relative;
	background: var(--track-background);
	--track-background: linear-gradient(to right,
		transparent var(--low), var(--range-color) 0,
		var(--range-color) var(--high), transparent 0
		) no-repeat 0 45% / 100% 40%;
	--range-color: var(--blue);
}
input[type="range"].multirange.ghost::-webkit-slider-runnable-track {
	background: var(--track-background);
}
input[type="range"].multirange.ghost::-moz-range-track {
	background: var(--track-background);
}